/*
CSS styling for Userinfo component
*/

/*styling div of profile pic*/
.profile-pic-div{
    text-align: center;
    
}

/*styling div which holds profile button and profile picture*/
.row {
    background-color: rgba(73, 64, 48, 0.356);
}
/* the profile picture image */
.profile-pic {
    border-radius: 50%;
    width: 40%;
    border: 6px solid rgba(255, 255, 255, 0.5);

	
	animation: pulse 1.5s infinite;
}
/*effect to make profile pic pulse*/
@keyframes pulse {
	0% {
		transform: scale(0.99);
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.555);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(185, 42, 42, 0);
	}

	100% {
		transform: scale(0.99);
		box-shadow: 0 0 0 0 rgba(180, 48, 48, 0);
	}
}


/*styling user details list element*/
.user-detail-list li{
    list-style-type: none;
    padding: 7px 0px 7px 0px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    
}

/*stling the repo list */
li{
    padding-top: 8px;
    justify-content: left;
    text-align: left;
}

/*styling lower-block which contains followers and following text*/
.lower-container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(238, 166, 12, 0.7);
    margin-bottom: 40px;
    padding: 10px 5px 10px 5px;
}

/*styling lower-block which contains followers and following text*/
.lower-container p{
    margin: 0px;
    font-weight: bold;
}

/*styling og icons in user details*/
.icons {
    font-size: 27px;
    color: orange;
}

/* Profile page loading gif styling */
.loading-block {
    text-align: center;
}
/*styling the loading gif*/
.loading-img {
    width: 50%;
}

.user-details{
    background-color: rgba(73, 64, 48, 0.39);
    padding-top: 5px;
    margin-top: 15px;
}

/* The button to their page */
.profile-btn{
    
    background-color: rgba(255, 166, 0, 0.726);
    color: white;
    padding: 9px 8px 8px 8px;
    border-radius: 5px;
    border: 1px solid rgba(255, 166, 0, 0.267);
    font-weight: bold;
    margin: 15px 1px 1px 15px;

}

.profile-btn:hover{
    background-color: rgba(255, 166, 0, 0.884);
}
button:hover {
    cursor: pointer;
}

/* Main profile body */
.profile-div{
    text-align: center;
    text-align: left;
    border: 5px solid rgba(255, 255, 255, 0.13);
    border-top: none;
    color: rgba(255, 255, 255, 0.911);
    background-color:rgba(163, 160, 156, 0.877)
    
    
}